{
  "extends": [
    "google",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "react": {
      "version": "16.4.2",
      "flowVersion": "0.77.0",
      "import/resolver": {
        "node": {
          "moduleDirectory": ["node_modules", "src/"]
        }
      }
    }
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "no-console": [
      "warn"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "quote-props": [
      "error",
      "as-needed"
    ],
    "eol-last": [
      "warn",
      "never"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "max-len": [
      "warn",
      {
        "code": 120
      }
    ],
    "object-curly-spacing": [
      "warn",
      "never"
    ],
    "no-invalid-this": [
      "off"
    ],
    "indent": [
      "error",
      4
    ],
    "require-jsdoc": "off",
    "react/display-name": "off",
    "lines-between-class-members": [
      "warn",
      "always",
      {
        "exceptAfterSingleLine": true
      }
    ],
    "flowtype/require-parameter-type": [
      "error",
      {
        "excludeArrowFunctions": false
      }
    ],
    "flowtype/no-types-missing-file-annotation": "off",
    "flowtype/no-weak-types": [
      "error",
      {
        "any": true,
        "Object": false,
        "Function": false
      }
    ]
  }
}
