.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: fixed 25%;
  background-size: cover;
  margin-bottom: 32px;
  &__navbar {
    position: fixed;
    left: 0;
    width: 100%;
    transition: $transition--primary;
    &--inner {
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      transition: $transition--primary;
    }
    &--inverse {
      background-color: white;
      box-shadow: 0 0 4px 0 $color-primary;
      .header {
        &__logo {
          width: 25px;
          margin: 12px 16px 0px 16px;
          svg {
            fill: #155799;
          }
        }
        &__navigation {
          margin: 0;
          &__item {
            color: $color-primary;
          }
        }
      }
    }
  }

  &__navigation {
    margin: 16px 16px 16px auto;
    transition: $transition--primary;
    &__item {
      display: inline-block;
      padding: 16px 8px;
      color: white;
      text-decoration: none;
      transition: $transition--primary;
      @include breakpoint('mobile') {
        padding: 16px;
      }
      &:hover,
      &:focus,
      &:active {
        color: white;
        background-color: $color-quaternary;
      }
    }
  }
  &__border {
    margin-top: 280px;
    border-color: transparent white;
    border-style: solid;
    border-width: 100px 0 0 0;
    border-right-width: calc(100vw - 15px);
  }
  &__logo {
    margin: 16px;
    width: 35px;
    height: auto;
    opacity: 0.5;
    transition: $transition--primary;
    &:hover {
      opacity: 1;
    }
    svg {
      fill: white;
    }
  }
}