.skill {
  width: 100%;
  text-align: center;
  padding: 12px 16px;
  box-sizing: border-box;
  @include breakpoint('mobile') {
    width: 50%;
  }
  @include breakpoint('tablet') {
    width: 33%;
  }
}