.social {
  &__icon {
    transition: $transition--primary;
    fill: $color-primary;
    &:hover {
      fill: $color-tertiary;
    }
    &.Twitter {
      &:hover {
        fill: $color-tertiary;
      }
    }
    &.GitHub{
      &:hover{ fill: $color-quaternary;}
    }
    &.CodePen{
      &:hover{ fill: $color-secondary}
    }
    &.Replit{
      &:hover{ fill: $color-primary}
    }
    &.Gmail{
      &:hover{ fill: $color-primary}
    }
    &.LinkedIn{
      &:hover{ fill: $color-tertiary}
    }
  }
}